@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
	color: #00BBFF;
}
a:hover{
	text-decoration:underline;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Main Divs
 * --------------------------------------- */
 
.superContainer {
	height: 100%;
    position: relative;
	background-color: #F5F5F5;
}
 
.topDiv {
	height: 100px;
	width: 100%;
}

.phoneContainerDiv {
	width: 38.2%;
	height: 100%;
	float: left;
	display: inline-block;
	overflow: hidden;
}

.phoneDiv {
	height: 120%;
	width: 100%;
	margin-top: -12%;
	position:relative;
	overflow: hidden;
}

.iPhone_image {
	height:100%;
	position:absolute;
	right:0;
}

.screenshots {
  position: absolute;
  z-index: 3;
  width: 58%;
  height: 68%;
  top: 16%;
	
}

.textDiv {
	width: 61.8%;
	height: 100%;
	margin-right: 0%;
	display: inline-block;
	float: right;
}

.topTextDiv {
	position: relative;
	width:100%;
	height:50%;
	text-align: center;
}

.titleDiv{
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
}

.bottomTextDiv {
	position:relative;
	width:100%;
	height:50%;
	text-align:center;
}

.rightBottomImage {
	width:30px;
	height:30px;
	position:absolute;
	top:5px;
	right: 6px;
}

.iconImage {
	width:100%;
}

.menu {
	width:100%;
	position:absolute;
	height:40px;
	top:10%;	
}

.bottomDiv {
	width:100%;
	display: none;
	background-color: #F5F5F5;
	position: absolute;
}

.gradientDividerDiv{
	width:100%;
	height:20px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(25%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.1) 25%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.1) 25%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.1) 25%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.1) 25%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.sectionDiv{
	margin-top: 40px;
  margin-bottom: 40px;
}

.sectionTextDiv{
	  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 10%;
  width: 40%;
  position: relative;
    display: inline-block;
	  vertical-align: middle;

}

.leftText{
	margin-left: 20%;
	width: 35%;
}



.sectionImageDiv{
	    position: relative;
  width: 30%;
  display: inline-block;
    vertical-align: middle;
	    margin-left: 15%;


}

.rightImage{
	margin-left:5%;
}

.sectionImage{
	width:100%;
}

#surfImageDiv{
	width:50%;
	margin-left: 0;
}

#surfText{
	margin-left:5%;
}

#shortToLongTerm{
	width:35%;
}

.theAskDiv{
	text-align: center;
  	margin-top: 120px;
	margin-bottom: 60px;
}

.footer {
	  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
 
 
/* Typography
 * --------------------------------------- */
 
body{
	font-family: "Helvetica Neue","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333;
	color: rgba(0,0,0,0.83);
	background-color: #000;
}
 
h1 {
	font-size: 90px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	color: rgba(0,0,0,1);
	
 
}

h1#b411 {
}

h2 {
	font-size: 36px;
  	font-weight: 100;
	color: rgba(0,0,0,0.6);
}

h2#subtitle {
}

h3{
	font-size: 36px;
  	font-weight: 100;
	margin-bottom:10px;
	
}

h4{
	font-size: 23px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 26px;
}


.sectionDiv p {
	font-weight: 200;
  	color: rgba(0, 0, 0, 0.4);
	padding-right: 30%;
	font-size: 17px;
  line-height: 1.4;
}

.footer p {
	  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
}





/* Buttons
 * --------------------------------------- */
 
 .myButtons {
	background: #fa2b7e; /* Old browsers */
	background: -moz-linear-gradient(left, #fa2b7e 0%, #fa487e 53%, #fca37e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fa2b7e), color-stop(53%,#fa487e), color-stop(100%,#fca37e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #fa2b7e 0%,#fa487e 53%,#fca37e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #fa2b7e 0%,#fa487e 53%,#fca37e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #fa2b7e 0%,#fa487e 53%,#fca37e 100%); /* IE10+ */
	background: linear-gradient(to right, #fa2b7e 0%,#fa487e 53%,#fca37e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa2b7e', endColorstr='#fca37e',GradientType=1 ); /* IE6-9 */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 8px;
	/* border: 1px solid #00BBFF; */
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 15px 30px;
	text-decoration: none;
	/* text-shadow: 0px 1px 0px #ffffff;  */
	font-size: 20px;
	font-weight:100;
}
.myButtons:hover {
	/* maybe a big shadow that dissappears on click  */
	-moz-box-shadow: 0px 0px 50px rgba(81, 16, 42, 0.2);
	-webkit-box-shadow: 0px 0px 50px rgba(81, 16, 42, 0.2);
	box-shadow: 0px 0px 50px rgba(81, 16, 42, 0.2);
	text-decoration:none;
}

.myButtons:active {
  	margin-top: 2px;
  	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#getForIPhone {
	position:relative;
	top:10%;
}

.menuButton{
	padding: 11px 30px;
	display: inline-block;
	cursor: pointer;
	color: rgba(0,0,0,0.3);
	background-color:none;
	margin-left: 2%;
  	margin-right: 2%;
	font-weight: 200;
}

.menuButton:Hover{
	background-color:rgba(0,0,0,0.3);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	text-decoration:none;
	color:#FFFFFF;
}

.menuButton:active{
	background-color:rgba(0,0,0,0.1);
	color: rgb(255,255,255,0.5);
}












	